.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
    width: 100px;
}

ul.form-group {
    padding: 0;
}

ul.form-group li {
    list-display: none;
    display: inline-block;
    padding-right: 15px;
}

input.name {
    border: 1px solid #9fdaf9;
    padding: 5px;
    border-radius: 5px;
    width: 320px;
    border-color: #9fdaf9;
}

select {
    border: 1px solid #9fdaf9;
    padding: 5px;
    border-radius: 5px;
    width: 320px;
    border-color: #9fdaf9;
}

.error {
    display: block;
    color: red;
 }